@model CreateTravelViewModel;

@{
	ViewData["Title"] = "Add new travel";
}

@section Styles {


}


<form asp-action="Create" method="post" id="travel-form">

 @*    <!--begin::Input group-->
    <div class="form-floating mb-7">
        <input type="text" asp-for="Title">
        <label asp-for="Title">Title</label>
        <span asp-validation-for="Title" class="text-danger d-block"></span>
    </div>
    <!--end::Input group--> *@
    <div class="card">

        <div class="card-header">
            <div class="card-title">Schedule Travel</div>
        </div>


        <div class="card-body">
            <div class="row">

                <div class="col-md-6 col-lg-4">

                    <div class="card">

                                <div class="form-group">

                                    <label asp-for="RouteId">Select Route</label>
                                    <div class="row">
                                        <div class="col-9">
                                    <select class="form-select form-control-sm" asp-for="RouteId" asp-items="Model.Routes">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="RouteId" class="text-danger d-block"></span>


                                        </div>
                                        <div class="col-3 p-0">

                                    <a asp-controller="Routes" asp-action="Create" class="btn btn-outline-primary btn-sm  ">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-dotted" viewBox="0 0 16 16">
                                                    <path d="M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834-1v1h.916v-1zm1.833 1h.917v-1h-.917zm1.833 0h.917v-1h-.917zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                                                </svg>
                                                Add
                                            </a>
                                      
                                        </div>
                                    </div>
                                


                               
                                </div>

             



                        <div class="form-group">
                            <label asp-for="Seats">Select Seats Numbers</label>
                            <select class="form-select form-control-sm" asp-for="Seats">
                                <option value="">..</option>
                                @for (int x = 1; x <= 45; x++)
                                {
                                    <option value="@x">@x</option>
                                }

                            </select>
                            <span asp-validation-for="Seats" class="text-danger d-block"></span>
                        </div>

                    </div>

                    <div class="card">

                        <div class="form-group">

                            <label asp-for="ScheduleDuration">Select Schedule Duration</label>
                            <div>

                                @foreach (var radio in Model.ScheduleDurations!)
                                {
                                    <div class="form-check ms-5 p-0">

                                        <input type="radio" asp-for="ScheduleDuration" value="@radio.Value" id="option-@radio.Value"
                                               class="form-check-input" />
                                        <label asp-for="option-@radio.Value" class="form-check-label m-0">@radio.Text</label>

                                    </div>

                                }
                            </div>
                            <span asp-validation-for="ScheduleDuration" class="text-danger d-block"></span>
                        </div>
                    </div>
        

                    <div class="card">
                        <div class="form-group">

                            <label asp-for="SelectedScheduleType">Select Schedule Type</label>

                            @foreach (var check in Model.ScheduleTypes!)
                            {
                                <div class="form-check ms-5 p-0">
                                    <input class="form-check-input" type="radio" value="@check.Value" id="option-@check.Value"
                                           asp-for="SelectedScheduleType">
                                    <label class="form-check-label m-0" for="option-@check.Value">
                                        @check.Text
                                    </label>
                                </div>
                            }

                            <span asp-validation-for="SelectedScheduleType" class="text-danger d-block"></span>


                        </div>

                    </div>

          

                </div>
                <div class="col-md-6 col-lg-4">

                    <div class="card">

                        <div class="form-group">
                            <label asp-for="StartingDate">Select Starting Date</label>
                            <input class="js-flatpickr-starting-date  " type="date" asp-for="StartingDate" />
                            <span asp-validation-for="StartingDate" class="text-danger d-block"></span>
                        </div>




                        <div class="form-group">
                            <label asp-for="TravelTime">Select Time</label>
                            <input class="js-flatpickr-time  form-control " type="time" asp-for="TravelTime" />
                            <span asp-validation-for="TravelTime" class="text-danger d-block"></span>
                        </div>
                    </div>

                    <div class="card" style=" height: 400px;">
                        <div class="card-header pb-0">
                            <label>Add Dates to Shecule</label>
                            <div class=" row align-items-center">

                                <div class="form-group col-9 pe-3">
                                   
                                     <input type="hidden" asp-for="JsonDates" id="JsonDates"/> 
                                    <input class="js-flatpickr-dates form-control   m=0 " id="js-date-value" type="date" />
                                    @*     <span asp-validation-for="StartingDate" class="text-danger d-block"></span> *@
                                </div>

                                <div class="col-3 p-0">

                                    <a href-"#" class="btn btn-outline-primary btn-sm js-add-date ">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-dotted" viewBox="0 0 16 16">
                                            <path d="M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834-1v1h.916v-1zm1.833 1h.917v-1h-.917zm1.833 0h.917v-1h-.917zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                                        </svg>
                                        Add</a>

                                </div>

                            </div>
                          @*   <div class="card-title">Hoverable Table</div> *@
                        </div>
                        <div class="card-body overflow-auto mt-0 pt-0">
                                    <div class="card-list py-4 mt-0 pt-0" id="dates-table">

                             
                                <div class="alert alert-secondary mt-4" role="alert">
                                   <span style="color:dimgrey;"> No dates added yet!</span>
                                </div> 

                                    </div>
                            
                            
                        </div>
                    </div>

                </div>




                <div class="col-md-6 col-lg-4">




                    <div class="card">

            
                        <div class="form-group check-box-contenair">
                            <label class="form-label" >Select Days in Week</label></>
                            <div>

                                @for (var i = 0; i < Model.WeekDays!.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.WeekDays![i].Day" />


                                    <div class="form-check ms-5 p-0">

                                        <input class="form-check-input js-item-checkbox" asp-for="@Model.WeekDays![i].IsSelected" type="checkbox" id="@Model.WeekDays![i].Day" />
                                        <label class="form-check-label m-0" for="@Model.WeekDays[i].Day">
                                            @(((DayOfWeek)(@Model.WeekDays[i].Day-1)).ToString())
                                        </label>
                                    </div>
                                }
                            </div>
                       

                        </div>

                    </div>
              
                    <div class="card">

                        <div class="form-group pe-4">
                            <label class="form-label">Select Days in Month</label>
                            <div class="selectgroup selectgroup-pills row">
                                @for (byte i = 0; i < Model.MonthDays!.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.MonthDays![i].Day" />

                                    <div class="col-2">
                                        <input type="checkbox" class="btn-check  " id="btn-check-@Model.MonthDays[i].Day" asp-for="@Model.MonthDays[i].IsSelected"
                                               autocomplete="off">
                                        <label class="btn rounded-pill btn-sm" for="btn-check-@Model.MonthDays[i].Day">@Model.MonthDays[i].Day</label>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>


                </div>

                <div class="card-action">

                    <div class="form-check ">

                        <input class="form-check-input mt-2 " asp-for="ReSchedule" type="checkbox" id="reschedule" />
                        <label class="form-check-label " for="reschedule">
                            Reschedule the Travel automaticly on first day of each month
                        </label>
                    </div>

                    <button type="submit" class="btn btn-outline-primary ">Submit</button>
        @*             <button class="btn btn-outline-secondary btn-sm ">Cancel</button> *@
                </div>

            </div>

        </div>

    
    </div>



</form>

@section Scripts{

	<script src="/js/CreateTravel.js" asp-append-version="true"></script>
    <script>

        // const today = new Date();
        // const year = today.getFullYear();
        // const month = String(today.getMonth() + 1).padStart(2, '0');
        // const day = String(today.getDate()).padStart(2, '0');

        // const formattedDate = `${year}-${month}-${day}`;

        // $(".js-flatpickr-time").flatpickr(
        //     {
        //         enableTime: true,
        //         noCalendar: true,
        //         dateFormat: "H:i",
        //         time_24hr: true,
        //         defaultDate: "13:45"
        //     }
        
        //   );

        $(".js-flatpickr-dates").flatpickr(
            {
                defaultDate: "today"
                ,
                minDate: "today"
            });

        $(".js-flatpickr-starting-date").flatpickr(
            {
                defaultDate: ".."
                ,
                minDate: "today"
            });


        
        


    </script>
}