@using TravelCompany.Domain.Entities

@model ScheduleTripsViewModel;






@section Styles {


	<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

	<style>
		.sticky-card {
			position: sticky;
			top: 100px; /* Distance from top when it becomes "stuck" */
		}

		.fixed {
			position: fixed;
			top: 130px;
			right: 10px;
			z-index: 9999;
/* 			animate__animated animate__fadeIn animate__slower
 */		}
	</style>

}

<form class="js-confirm-form" asp-action="ScheduleNewTrips" method="post" >

	<div class="d-flex flex-column gap-10">

		<div class="card ">
			<!--begin::Header-->
			<div class="card-header border-0 pt-5 mb-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label fw-bold text-gray-900">What’s up Today</span>
					<span class="text-muted mt-1 fw-semibold fs-7">Total 424,567 deliveries</span>
				</h3>
				<!--begin::Toolbar-->
				<div class="card-toolbar">

				<a href="#usage" id="myButton" class="btn btn-sm btn-light-primary "
				data-kt-scroll-toggle>
					<i class="ki-duotone ki-plus fs-2"></i>New Schedule
				</a>
@* 					<a href="#" class="btn btn-sm btn-light">New Schedule</a>
 *@				</div>
				<!--end::Toolbar-->
			</div>
			<!--end::Header-->
			<!--begin::Body-->
			<div  class="tab-content mb-2 px-9 d-flex flex-column gap-10 py-10 ">


				<!--begin::Route-->
				<input id="route-id" type="hidden" asp-for="@Model.RouteId" />
				<span asp-validation-for="@Model.RouteId" class="text-danger d-block"></span>
				<div class="d-flex">

				<div id="route-background" class="d-flex bg-light-primary rounded">
					<div class=" d-flex flex-column  flex-sm-row align-items-center justify-content-between  p-5 ">
						<!--begin::Icon-->
						<div id="route-details" class="d-flex p-2">
						<span class="bullet bullet-vertical h-40px bg-warning me-5"></span>
							<!--begin::Wrapper-->
							<div  class="d-flex flex-column pe-0 pe-sm-10">
								<!--begin::Title-->
								<h5 class="required mb-1">Setup Route</h5>
								<!--end::Title-->
								<!--begin::Content-->
								<span class="text-muted ">Select route of the trip from existed routes or create new one.</span>
								<!--end::Content-->
							</div>
							<!--end::Wrapper-->
							<!--begin::Close-->

						</div>
						<div class="flex-shrink-0 p-2 align-self-end">





							<a id="add-route-button" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary  btn-active-primary  js-render-modal"
						   data-large-modal="true" data-url="/Routes/FetchAllRoutes" data-has-table="true"
							data-title="Routes List"
							data-sub-title="select trip route from routes list , or create new one.">
							<i class="ki-duotone ki-plus fs-4 m-0 toggle-off"></i>
							Add
							</a>

						</div>

						<!--end::Close-->
					</div>

				</div>

				</div>
			
				<!--end::Route-->


				<div id="trips-patterns" >


				</div>










			</div>







		</div>





		<div id="usage" class="card p-10 opacity-50" data-kt-scroll-offset="80">

			<div class="d-flex flex-column gap-10">



				<!--begin::Time-->
			<div id="time-block" class="rounded border d-flex flex-column p-5  mb-3 ">

					<div class="d-flex p-2">

						@* 	<i class="ki-outline ki-watch  fs-2hx pe-2 "></i> *@


						<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
							<!--begin::Title-->
							<h5 class="  mb-1 ">Trip Time</h5>
							<!--end::Title-->
							<!--begin::Content-->
							<span class="text-muted ">Set the times for your trip</span>
							<!--end::Content-->
						</div>



					</div>

					<div class="d-flex flex-wrap ">
						<div class="d-flex">
						<div class="m-4">

							<label asp-for="@Model.DepartureTime" class="form-label required">Departure Time</label>
							<input asp-for="@Model.DepartureTime" class="form-control form-control-solid flatpickr-input" placeholder="Pick time" id="trip-time" type="text" readonly="readonly" disabled>
							<span asp-validation-for="@Model.DepartureTime" class="text-danger d-block"></span>
						</div>

						</div>

					<div class="d-flex">
						<div class="m-4">

							<label asp-for="@Model.ReturnTime" class="form-label required">Return Time</label> 
							<input asp-for="@Model.ReturnTime" class="form-control form-control-solid flatpickr-input" placeholder="Pick time" id="reverse-trip-time" type="text" readonly="readonly" disabled>
							<span asp-validation-for="@Model.ReturnTime" class="text-danger d-block"></span>
						</div>
					</div>
					</div>


				</div>
				<!--end::Time-->
				<!--begin::Recuring Type-->
				<div class="rounded border p-5 d-flex flex-column pb-10">

					<div class="d-flex p-2">

						<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
							<!--begin::Title-->
							<h5 class=" required mb-1 ">Recuring Pattern</h5>
							<!--end::Title-->
							<span asp-validation-for="RecurringPattern" class="text-danger d-block"></span>

							<!--begin::Content-->
							<span class="text-muted ">Select the frequency of the trip, or choose 'Custom Schedule' if it is not a recurring journey.</span>
							<!--end::Content-->
						</div>



					</div>
					<div class=" p-2 ps-8">

							<!--begin::Option-->
							<div class="d-flex">
							<input asp-for="RecurringPattern" type="radio" class="btn-check recurring-radio" value="@PatternType.Daily" id="kt_radio_buttons_2_option_@PatternType.Daily" disabled />
							<label for="kt_radio_buttons_2_option_@PatternType.Daily" class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2" >
								<i class="ki-solid ki-abstract-8  ms-2 "></i>

								<span class="text-gray-900 btn-active-color-primary ">Every Single Day</span>


							</label>


							
							</div>

							<!--end::Option-->
							<!--begin::Option-->
							<div class="d-flex">
							<input asp-for="RecurringPattern" type="radio" class="btn-check recurring-radio" value="@PatternType.Weekly"  id="kt_radio_buttons_2_option_@PatternType.Weekly" disabled />
							<label class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2 " for="kt_radio_buttons_2_option_@PatternType.Weekly">


								<i class="ki-solid ki-abstract-8  ms-2 "></i>
								
									<span class="text-gray-900 btn-active-color-primary ">Specific Days of the Week</span>

								
								</label>
							</div>

							<!--end::Option-->
				    		<!--begin::Option-->
				    		<div class="d-flex">
							<input asp-for="RecurringPattern" type="radio" class="btn-check recurring-radio custom-recurring" value="@PatternType.Custom" id="kt_radio_buttons_4_option_@PatternType.Custom" disabled />
							<label class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2" for="kt_radio_buttons_4_option_@PatternType.Custom">
								<i class="ki-solid ki-abstract-8  ms-2"></i>

								<span class="text-gray-900 btn-active-color-primary ">Custom Schedule</span>



							</label>



						</div>
				    
				    		<!--end::Option-->

					



					</div>


					<div class="ps-13 " id="recuring-details">
					</div>



				</div>
				<!--end::Recuring Type-->
				<!--begin::Duration-->
				<div class="rounded border p-5 d-flex flex-column " id="duration-settings">

					<div class="d-flex p-2">

						@*
						<i class="ki-outline ki-calendar   fs-2tx pe-2  "></i> *@



						<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
							<!--begin::Title-->
							<h5 class=" required mb-1 ">Trip Duration</h5>
							<!--end::Title-->
							<!--begin::Content-->
							<span class="text-muted ">Select how long do you want this trip to be scheduled for.</span>
							<!--end::Content-->
						</div>



					</div>
					<div class="d-flex p-2 ps-8">

						<div>
							<!--begin::Option-->
							<div class="d-flex">
								<input type="radio" class="btn-check" value="1" name="radio_trip_duration" id="kt_radio_buttons_5_option_5" disabled />
							<label class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2" for="kt_radio_buttons_5_option_5">
									<i class="ki-solid ki-abstract-8 pe-2 ms-2"></i>
										<span class="text-gray-900 ">Specific period</span>

					

								</label>
							</div>

							<!--end::Option-->
							<!--begin::Option-->
							<div class="d-flex">
								<input type="radio" class="btn-check" value="2" name="radio_trip_duration" id="kt_radio_buttons_6_option_6" disabled />
							<label class="btn btn-link btn-color-muted btn-active-color-primary me-5 mb-2" for="kt_radio_buttons_6_option_6">
									<i class="ki-solid ki-abstract-8 pe-2 ms-2"></i>
								
										<span class="text-gray-900 ">Fixed duration</span>


								</label>
							</div>

							<!--end::Option-->


						</div>



					</div>


					<div class="ps-13 " id="duration-options">
					</div>



				</div>
				<!--end::Duration-->

				<!--begin::SeatsNumber-->
	    		<div id="time-block" class="rounded border d-flex flex-column p-5  mb-3 ">

				<div class="d-flex flex-column p-2">

					<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
						<!--begin::Title-->
						<h5 class="required  mb-1 ">Capacity</h5>
						<!--end::Title-->
						<!--begin::Content-->
						<span class="text-muted ">Set the capacity of the vehicle </span>
						<!--end::Content-->
					</div>

					<div class="m-4 mt-0 d-flex">
						<div>
							<input asp-for="Seats" class="form-control form-control-solid flatpickr-input" placeholder="Seats Number" type="text" disabled>
							<span asp-validation-for="Seats" class="text-danger d-block"></span>

						</div>
			
					</div>

				</div>

@* 				<div class="d-flex flex-wrap ">
					<div class="d-flex">
						<div class="m-4">

							<label for="" class="form-label required">Departure Time</label>
							<input class="form-control form-control-solid flatpickr-input" placeholder="Seats Number"  type="text" readonly="readonly">
						</div>

					</div>

			
				</div> *@


			</div>
				<!--end::SeatsNumber-->



			</div>

			<div class="d-flex justify-content-end py-6 px-9">
@* 				<button class="btn btn-light btn-active-light-primary me-2">Discard</button>
				*@				<button type="submit" class="btn btn-primary btn-sm " disabled>Submit</button>
			</div>
		</div>



</div>



</form>
<template id="template-recurring-@PatternType.Daily"></template>

<template id="template-recurring-@PatternType.Weekly">

	<div class="d-flex flex-column animate__animated animate__fadeInDown mb-7 mt-3">

		
			<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
				<!--begin::Title-->
				<h5 class=" required mb-1 ">Week Days</h5>
				<!--end::Title-->
				<!--begin::Content-->
			<span class="text-muted ">Select the days of the week you want to schedule your trip for..</span>
				<!--end::Content-->
			</div>

	

		<div class="d-flex gap-16">



			<div class="d-flex flex-column">





					@for (var i = 0; i < 4; i++)
					{


					<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">


						<input type="hidden" asp-for="@Model.WeekDays![i].Day" />
				        <input class="form-check-input js-item-checkbox" asp-for="@Model.WeekDays![i].IsSelected" type="checkbox" id="@Model.WeekDays![i].Day" />
						<label class="form-check-label text-gray-900" for="@Model.WeekDays[i].Day">
				        	@(((DayOfWeek)(@Model.WeekDays[i].Day - 1)).ToString())
				        </label>
					    
					</div>
					}
	




@* 

				<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">
					<input class="form-check-input" type="checkbox" />
					<label class="form-check-label text-gray-900 " for="">
						Small checkbox
					</label>
				</div>

				<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">
					<input class="form-check-input" type="checkbox" />
					<label class="form-check-label text-gray-900 " for="">
						Small checkbox
					</label>
				</div>

				
				<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">
					<input class="form-check-input" type="checkbox" />
					<label class="form-check-label text-gray-900 " for="">
						Small checkbox
					</label>
				</div>


				<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">
					<input class="form-check-input" type="checkbox" />
					<label class="form-check-label text-gray-900 " for="">
						Small checkbox
					</label>
				</div> *@





			</div>

			<div class="d-flex flex-column">

				@for (var i = 4; i < 7; i++)
				{


					<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">


						<input type="hidden" asp-for="@Model.WeekDays![i].Day" />
						<input class="form-check-input js-item-checkbox" asp-for="@Model.WeekDays![i].IsSelected" type="checkbox" id="@Model.WeekDays![i].Day" />
						<label class="form-check-label text-gray-900" for="@Model.WeekDays[i].Day">
							@(((DayOfWeek)(@Model.WeekDays[i].Day - 1)).ToString())
						</label>

					</div>
				}





				@* 				<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">
					<input class="form-check-input" type="checkbox" />
					<label class="form-check-label text-gray-900 " for="">
						Small checkbox
					</label>
				</div>

				<div class="form-check form-check-custom form-check-solid form-check-sm mb-4">
					<input class="form-check-input" type="checkbox" />
					<label class="form-check-label text-gray-900 " for="">
						Small checkbox
					</label>
				</div>
 *@


			</div>
		</div>


	


	</div>



</template>

<template id="template-recurring-@PatternType.Custom">



	<div id="custom-dates-container">

		<input type="text"
			  asp-for="CustomDates" value=""
			   style="display: none;" />
@* 		<span asp-validation-for="CustomDatesValidation" class="text-danger"></span>
 *@
	</div>

		<div class="d-flex flex-column animate__animated animate__fadeInDown mb-7 mt-3">


			<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
				<!--begin::Title-->
				<h5 class=" required mb-1 ">Dates</h5>
				<!--end::Title-->
				<!--begin::Content-->
			<span class="text-muted ">Select the dates you want to schedule your trip for.</span>
				<!--end::Content-->

			</div>


		<div class="d-flex ">

			<input class="form-control form-control-solid flatpickr-input" placeholder="Dates" id="custom-schedule" type="text" readonly="readonly">


	    	</div>

		
	</div>





</template>


<template id="template-duration-1">

	
	<input type="hidden" asp-for="StartDate" />
	<input type="hidden" asp-for="EndDate" />

		<div class="d-flex flex-column animate__animated animate__fadeInDown mb-7 ">


	
			<label for="" class="form-label required d-block">Date Range</label>
			<span class="text-muted mb-7">Select the start and end dates of your trip.</span>

		<input class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Specific Perios" id="specific-period" type="text" readonly="readonly">

		</div>




</template>

<template  id="template-duration-2">
	<div class="d-flex animate__animated animate__fadeInDown mb-7 ">

	
		<div class="d-flex  pe-0 pe-sm-10 mb-7">
			<div class="d-flex flex-column ">

				<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
					<!--begin::Title-->
@* 					<h5 class="  mb-1 ">Start Date</h5>
 *@					<!--end::Title-->
					<!--begin::Content-->
					<span class="text-muted ">For how many months do you want to schedule your trip.</span>
					<!--end::Content-->
				</div>


				<div class="d-flex flex-column gap-5 flex-md-row gap-md-10">

					<div>
						<label asp-for="StartDate" class="form-label required d-block">Start Date</label>
						<input asp-for="StartDate" class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Date" id="fixed-duration" type="text" readonly="readonly">
						<span asp-validation-for="StartDate" class="text-danger d-block"></span>


					</div>
					<div class="">

						<label asp-for="ScheduleDuration">How Long</label>

						<select asp-for="ScheduleDuration" class="form-select form-select-solid form-select-sm" aria-label="Select example">
							@foreach (var option in Model.Durations!)
							{
								<option value="@option.Value">@option.Text</option>
							
							}
					
						</select>
						<span asp-validation-for="ScheduleDuration" class="text-danger d-block"></span>



@* 
						<label for="" class="form-label required">How Long</label>
						<select asp-for="ScheduleDuration" class="form-select form-select-solid form-select-sm" aria-label="Select example">
							<option></option>
							<option value="1">For one month</option>
							<option value="2">For Three Months</option>
							<option value="3">For Six Months</option>
						</select> *@
					</div>

				</div>

		
@* 
				<label for="" class="form-label required">Start Date</label>
				<span class="text-muted ">For how many months do you want to schedule your trip.</span> *@
			</div>



	
		

		</div>





	</div>


	





</template>


@section Plugins {

	<script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
	<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<script src="~/js/routesindex.js"></script>

	<script src="~/js/scheduling.js"></script>

	<script>

		window.addEventListener('scroll', function () {
			const button = document.getElementById('myButton');


			const stopDiv = document.getElementById('trips-patterns');
			const stopTop = stopDiv.getBoundingClientRect().bottom
			const divHeight = stopDiv.offsetHeight;

			if (window.scrollY > 100) {
				if (!button.classList.contains('fixed')) {
					// Only add animation when becoming fixed
					button.classList.add('fixed', 'animate__animated', 'animate__fadeInDown');
				}
			} else {
				if (button.classList.contains('fixed')) {
					// Remove fixed position and animation when going back
					button.classList.remove('fixed', 'animate__animated', 'animate__fadeInDown');
				}
			}


			if (window.scrollY > stopTop + divHeight) {
				button.style.display = 'none';
			} else {
				button.style.display = 'block';
			}
		});
	</script>


}




	<!--end::Body-->
