@using Newtonsoft.Json
@model IEnumerable<AvailableTripVehicleDTO>

	<div id="PageContainer">

		<div>
		@TempData["TripDateAndTime"]

		</div>
		<div>
		@TempData["ReturnTripDateTime"]


		</div>
		<div>
		@TempData["TripId"]


		</div>

	<div class=" scroll-y h-500px px-10 ">


		<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
			<thead>
				<tr class="fw-bold fs-6 text-gray-800 px-7">
					@* 	<th>VehicleId</th> *@
					<th>Plak Number</th>
					<th>Model</th>
					<th>Home Station</th>
					<th>From</th>
					<th>To</th>

				</tr>
			</thead>
			<tbody>


				@foreach (var vehicle in Model)
				{
					<tr>

						@{



							var data = new VehicleAvalibilityViewModel();

							data.VehicleId = vehicle.VehicleId;
							data.VehicleModel = vehicle.VehicleModel;
							data.VehicleNumber = vehicle.VehicleNumber;
							data.AvalibilityStartDateTime = vehicle.AvailibiltyStartTime;
							data.AvalibilityEndDateTime = vehicle.AvailibiltyEndTime;
							data.TripId = Convert.ToInt32(TempData["TripId"]);

							data.MainTripDateTime = Convert.ToDateTime(TempData["TripDateAndTime"]);

							if (TempData["ReturnTripDateTime"] != null && DateTime.TryParse(TempData["ReturnTripDateTime"]!.ToString(), out var returnTripDate))
							{
								data.ReturnTripDateTime = returnTripDate;
							}
							else
							{
								data.ReturnTripDateTime = null;
							}


							var jsonData = JsonConvert.SerializeObject(data);
					

				    	}
						<td>
							<a href="#" class="js-next-page-ajax"

							   data-url="/Vehicles/GetVehicleAvalilbilty"
							   data-json-data="@jsonData"
						@* 	   data-callback-1="@("initilazeTimePicker")"
							   data-callback-2="@("initilazeMainDatePicker")"
							   data-callback-3="@("initilazeReturnDatePicker")" *@
							   data-callback-4="@("test")">
								@vehicle.VehicleNumber
							</a>
						</td>
							
						<td>@vehicle.VehicleModel</td>
						<td>@(vehicle.HomeStation)</td>
						<td>@(vehicle.AvailibiltyStartTime)</td>
						<td>@(vehicle.AvailibiltyEndTime)</td>

					</tr>
				}



			</tbody>
		</table>


	</div>


	</div>
