@using Newtonsoft.Json
@model IEnumerable<AvailableTripVehicleDTO>

@{

	DateTime tripDateTime = Convert.ToDateTime(TempData["TripDateAndTime"]);

	
}


	<div id="PageContainer" class="W-100">

@* <div class=" w-100 mb-5">
		<div class="d-flex gap-2">

			<span class="text-gray-900 fw-bold  fs-4">
				<span class="text-gray-600 fw-bold fs-7 ">
					- Time :
				</span>
				@tripDateTime.ToString("HH:mm")
				<span class="text-muted fw-semibold fs-7">@(tripDateTime.TimeOfDay > new TimeSpan(12, 0, 0) ? "Pm" : "Am")</span>
				<span class="text-primary">@tripDateTime.ToString("ddd")</span> ,
				<span class="text-primary">
					@tripDateTime.ToString("dd")
				</span>
				@tripDateTime.ToString("MMM")
				@tripDateTime.ToString("yyyy").
			</span>


		</div>
		<div class="d-flex gap-2 mt-3">

			<span class="text-gray-900 fw-bold  fs-4">
				<span class="text-gray-600 fw-bold fs-7 ">
					- Departure Station : 
				</span>
				Damascuse
			</span>


		</div>



</div>

 *@

	<div class="separator separator-dashed mt-5 mb-10"></div>


	<div class=" scroll-y h-500px w-100 ">

	
		<table class="table table-row-dashed table-row-gray-300 align-middle W-100 gs-0 gy-4">
			<thead>
				<tr class="fw-bold fs-6 text-gray-800 px-7">
					<th>Vehcle</th>
					<th>Availability Space</th>
					<th>Home Staion</th>
					<th></th>

				</tr>
			</thead>
			<tbody>


				@foreach (var vehicle in Model)
				{

					<partial name="~/Views/Vehicles/_AvailableVehiclesRow.cshtml" model="@vehicle" />



				}



			</tbody>
		</table>



	</div>


	</div>
