@using System.Globalization
@model ScheduledTripViewModel;






<tr  >


    <td >

        <!--begin::Item-->
        <div class="m-0 d-flex">

            <i class="ki-duotone ki-black-up fs-1 ">  </i>

@*             <span class="bullet bullet-vertical h-40px bg-gray me-5"></span>
 *@
            <!--begin::Label-->
            <!--begin::Title-->
            <div>
                <a href="#"
                   class="text-gray-900 fw-bold d-block text-hover-primary me-2">@Model.Date.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</a>
                <div class="d-flex gap-2 mt-1">

                    <span class="text-muted fw-semibold fs-7 testtt">
                        @DateTime.Today.Add(Model.Time).ToString("HH:mm")
                        @(Model.Time > new TimeSpan(12, 0, 0) ? "Pm" : "Am")
                    </span>
                    <span class="text-primary">@Model.Date.ToString("ddd")</span>


                </div>

            </div>
     



        </div>
        <!--end::Item-->


    </td>
    <td>



        <div class="d-flex mb-2">

            @{
                string color="";
                if (Model.Status == TripStatus.Unassigned)
                    color = "badge-light-warning";
                else if (Model.Status == TripStatus.Pending)
                    color = "badge-light-success";
                else if (Model.Status == TripStatus.Active)
                    color = "badge-light-primary";
                else if (Model.Status == TripStatus.Canseled)
                    color = "badge-light-danger";
                else if (Model.Status == TripStatus.Complete)
                    color = "badge-light";

            }
            <div class=" badge  fw-bold @color ">@Model.Status</div>


        </div>
        <!--end::Item-->

    </td>

    @if(Model.ReturnTripId==null)
    {
        <td>

            <div class=" badge badge-light-danger fw-bold mb-2">
                <i class="ki-solid ki-cross   fs-3 text-danger"></i>
                No Return Trip




            </div>
        </td>
        <td></td>

    }
    else
    {
        <td>
            <!--begin::Item-->
            <div class="m-0 d-flex">

                <i class="ki-duotone ki-black-down fs-1 ">  </i>

    

                <div>
                    <a href="#"
                       class="text-gray-900 fw-bold d-block text-hover-primary me-2">@Model.ReturnDate?.ToString("dd MMM yyyy", CultureInfo.InvariantCulture)</a>
                    <div class="d-flex gap-2 mt-1">

                        <span class="text-muted fw-semibold fs-7">
                            @DateTime.Today.Add(Model.ReturnTime!.Value).ToString("HH:mm")
                            @(Model.ReturnTime!.Value > new TimeSpan(12, 0, 0) ? "Pm" : "Am")
                        </span>
                        <span class="text-primary">@Model.ReturnDate?.ToString("ddd")</span>


                    </div>
                
                </div>
       
            </div>
            <!--end::Item-->
        </td>
        <td>



            <div class="d-flex mb-2">
                @{
                    string color2 = "";
                    if (Model.ReturnStatus == TripStatus.Unassigned)
                        color2 = "badge-light-warning";
                    else if (Model.ReturnStatus == TripStatus.Pending)
                        color2 = "badge-light-success";
                    else if (Model.ReturnStatus == TripStatus.Active)
                        color2 = "badge-light-primary";
                    else if (Model.ReturnStatus == TripStatus.Canseled)
                        color2 = "badge-light-danger";
                    else if (Model.ReturnStatus == TripStatus.Complete)
                        color2 = "badge-light";

                }
                <div class=" badge  fw-bold @color2 ">@Model.ReturnStatus</div>


            </div>
            <!--end::Item-->

        </td>

    }
    <td>
    

        <a href="#" class=" badge badge-light-danger hover-scale fw-bold mb-2 js-table-chiled"
           data-url="/Vehicles/GetAvailableVehicles?tripTime=@Model.Date.Add(Model.Time).ToString("o")&departureStationId=@Model.DepartureStationId&tripSpanInMinits=@Model.TripTimeSpanInMInits"
           data-large-modal="true"
           data-title="Availavle Vehicles"
           data-sub-title="all vehicles existed in the station at trip time.">
            <i class="ki-solid ki-cross   fs-3 text-danger"></i>
            No Vehicle 




        </a>

    </td>

    <td>

        <div class="d-flex justify-content-start flex-shrink-0">

            <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 js-table-chiled"
               data-url="/Trips/GetTripTimingDetails?tripId=@Model.TripId">
                <i class="ki-duotone ki-pencil fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </a>
            <a class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm">
                <i class="ki-duotone ki-trash fs-2">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    <span class="path5"></span>
                </i>
            </a>
        </div>

    </td>


</tr>


