@using TravelCompany.Domain.Const
@model TripPatternWeeksViewModel

@* <div class="d-flex justify-content-end py-6 px-9">
	<button type="submit" class="btn btn-primary btn-sm ">Submit</button>
</div>
 *@
<div class="  px-10 " style="max-height: 500px; overflow-y: auto;">


	<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
		<thead class="">
			<tr class="fw-bold fs-6 text-gray-800 px-7">
				@* 	<th>VehicleId</th> *@
				<th>Week Order</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Days</th>
				<th>Trips</th>
				<th></th>

			</tr>
		</thead>
		<tbody>

			@{

				var colors = new[] { "bg-primary",  "bg-warning" };
				var bulletColor = "bg-primary";
				var index = 0;
			}

			@for (int i= 0; i < Model.Weeks.Count; i++)
			{
				<tr>

					@{
						if (i != 0)
						{
							if (Model.Weeks[i].OccupiedWeekDaysCode != Model.Weeks[i - 1].OccupiedWeekDaysCode)
							{
								index = index == 0 ? 1 : 0;
								// index = index + 1 == 2 ? 0 : index + 1;
								bulletColor = colors[index];
							}
						}
					

						var weekOrder = "th";
						if (Model.Weeks[i].WeekOrder == 1) weekOrder = "st";
						else if (Model.Weeks[i].WeekOrder == 2) weekOrder = "nd";
						else if (Model.Weeks[i].WeekOrder == 3) weekOrder = "rd";
					}

					
					<td>
						<div class=" d-flex gap-1">
							<span class="bullet bullet-dot  @bulletColor me-1 mt-2  "></span>
							<span>@Model.Weeks[i].WeekOrder </span>
							<span class="text-muted">@weekOrder week</span>

						</div>
					</td>

					<td>@Model.Weeks[i].StartDate.ToString("dd MMM yyyy")</td>
					<td>@Model.Weeks[i].EndDate.ToString("dd MMM yyyy")</td>
					<td>

						<div class="d-flex gap-4 ms">

							@{
								foreach (WeekDaysCode day in Enum.GetValues(typeof(WeekDaysCode)))
								{
									if ((Model.Weeks[i].OccupiedWeekDaysCode & (int)day) == (int)day)
									{
										<div class="text-primary fs-7">@day</div>
									}
									else
									{
										<div class="text-muted fs-7">@day</div>
									}
								}
							}

						</div>
						
@* 						@Model.Weeks[i].OccupiedWeekDaysCode
 *@						
					
					</td>
					@*<td>@Model.Weeks[i].UnassignedTrips <span class="text-muted">Unassingned</span></td>*@
					<td> 
						<a href="#" class="js-render-modal"
						   data-url="/Trips/GetPatternScheduledTrips?routeId=@Model.RouteId&time=@Model.PatternTime&startDate=@Model.Weeks[i].StartDate&endDate=@Model.Weeks[i].EndDate"
						   data-large-modal="true"
						   data-title="Scheduled Trips"
						   data-sub-title="all trips scheduled at selected time."
						   data-has-table="true"
						   data-table-id="Scheduled_Trips_Table">
							<span class="text-gray-900 text-hover-primary">View</span>
							<span class="text-primary">@Model.Weeks[i].AllTrips</span>
					</a>
					</td>

				</tr>
			}



		</tbody>
	</table>


</div>