
@model ScheduledTripsSearchViewModel;

@section Styles {

	<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

}


@{
	var breadcrumb = new List<string>
							{
								"Trips",
								"Scheduled Trips"
							};

	ViewData["Breadcrumb"] = breadcrumb;
}

<div class="card ">

	<div class="card-body mb-2 px-9  ">

		<form class="js-ajax-form" method="post"
			  data-url="/Trips/GetScheduledTrips"
			  data-callback="RenderSearchResult">


			<div class="">

				<!--begin::Route-->
				<input asp-for="@Model.RouteId" id="route-id" type="hidden" />
			

				<span asp-validation-for="@Model.RouteId" class="text-danger d-block"></span>
				<input type="hidden" asp-for="@Model.Year" id="hidden-year" />
				<div class="d-flex">

					<div id="route-background" class="d-flex rounded">
						<div class=" d-flex flex-column  flex-sm-row align-items-center justify-content-between  p-5 ">
							<!--begin::Icon-->
							<div id="route-details" class="d-flex p-2">
								<!--begin::Wrapper-->
								<div class="d-flex flex-column pe-0 pe-sm-10">
									<!--begin::Title-->
									<h5 class="required mb-1">Route</h5>
									<!--end::Title-->
									<!--begin::Content-->
									<span class="text-muted ">Select route of the trips from existed routes.</span>
									<!--end::Content-->
								</div>
								<!--end::Wrapper-->
								<!--begin::Close-->

							</div>
							<div class="flex-shrink-0 p-2 align-self-end">





								<a id="add-route-button" class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary  btn-active-primary  js-render-modal"
								   data-large-modal="true" data-url="/Routes/FetchAllRoutes"
								   data-has-table="true"
								   data-table-id="Routes_List_Table"
								   data-title="Routes List"
								   data-sub-title="select trip route from routes list , or create new one.">
									<i class="ki-duotone ki-plus fs-4 m-0 toggle-off"></i>
									Select
								</a>

							</div>

							<!--end::Close-->
						</div>

					</div>

				</div>

				<!--end::Route-->

				<div class=" p-2 ps-8 mt-10">


					<!--begin::Input row-->
					<div class="d-flex fv-row">
						<!--begin::Radio-->
						<div class="form-check form-check-custom form-check-solid form-check-sm">
							<!--begin::Input-->
							<input asp-for="@Model.SearchType" class="form-check-input me-3 trip-search-radio" type="radio" value="@TripSearchType.TripPatterns" id="trip-pattern-radio" checked>
							<!--end::Input-->
							<!--begin::Label-->
							<label for="trip-pattern-radio" class="form-check-label">
								<span class="fw-bold d-block text-gray-800">Trip Patterns</span>
								<span class="text-gray-600">View the recurring schedule templates for this route.</span>
							</label>
							<!--end::Label-->
						</div>
						<!--end::Radio-->
					</div>
					<!--end::Input row-->
					<div class="separator separator-dashed my-5"></div>
					<!--begin::Input row-->
					<div class="d-flex fv-row">
						<!--begin::Radio-->
						<div class="form-check form-check-custom form-check-solid form-check-sm">
							<!--begin::Input-->
							<input asp-for="@Model.SearchType" class="form-check-input me-3 trip-search-radio"  type="radio" value="@TripSearchType.SpecificTrips" id="specific-trips-radio"
								   data-has-sub-options="true">
							<!--end::Input-->
							<!--begin::Label-->
							<label for="specific-trips-radio" class="form-check-label">
								<span class="fw-bold text-gray-800 d-block">Specific Trips</span>
								<span class="text-gray-600">View actual trips scheduled for this route.</span>
							</label>
							<!--end::Label-->
						</div>
						<!--end::Radio-->
					</div>
					<!--end::Input row-->
				</div>

				<div id="date-search-box"  class="ps-13 mt-7">
				</div>


				<a id="scrolling-button" href="#search-result" class="d-none" data-kt-scroll-toggle>

				</a>
				<div class="d-flex justify-content-end  px-9">
					<button type="submit" class="btn btn-sm btn-light-primary btn-active-primary "
							>
						<i class="bi bi-search"></i>
						<span class="indicator-label">
							Find
						</span>
						<span class="indicator-progress">
							Finding... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
						</span>

					</button>
				</div>
			</div>


		</form>


        <div class="separator separator-dashed border-gray  my-10"></div>

		<div id="search-result" data-kt-scroll-offset="100">


		</div>

		<!--Test Child-->




		<div class="border-gray-300 border-start   child-slide">

			<div class="d-flex gap-9 align-items-start">
				<div class="border border-dashed border-hover-primary rounded ms-4 p-4">
					<div class="d-flex">
						<span class="text-gray-900 fw-bold fs-5 ">Vehicle</span>
						<span class="bullet   bullet-dot  bg-success ms-2 mt-3"></span>

					</div>

				@* 	<div class="d-flex gap-10"> 
						<span class="text-muted fw-semibold mt-3">No Vehicle Assigned Yet</span>

						<a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 js-table-chiled"
						   data-url="">
							<i class="ki-duotone ki-pencil fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</a>

					</div> *@

					<div class="d-flex gap-10 mt-6">
						 <div class="d-flex gap-2">
							<i class="ki-solid ki-verify text-warning  mt-1 "></i>
							<div>

								<span class="text-gray-900 fw-bold d-block ">16 PDS 188</span>
								<span class="text-gray-500 fs-7 fw-semibold d-blok">Mercedec</span>

							</div>

						</div>
						<div>
							<span class="text-gray-900 fw-bold d-block ">40</span>
							<span class="text-muted fw-semibold ">Seat</span>
						</div>
						<div>
							<span class="text-gray-900 fw-bold d-block ">Damascus-Center</span>
							<span class="text-muted fw-semibold ">Home Station</span>
						</div> 

					<a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 js-table-chiled"
						   data-url="">
							<i class="ki-duotone ki-pencil fs-2">
								<span class="path1"></span>
								<span class="path2"></span>
							</i>
						</a> 

					</div>


				</div>

				<div class="mt-4">

					<div class="d-flex">
						<span class="text-gray-900 fw-bold fs-5 ">Avaliability Space</span>
						<span class="bullet   bullet-dot  bg-success ms-2 mt-3"></span>

					</div>



					<div class="d-flex gap-5 mt-6">

			
						<span class="d-block text-muted fw-semibold fs-7">
						    <span class="text-primary">26</span>
							<span class="text-gray-900 fw-bold fs-5 ">Aug</span>
							<span>2025</span>
							<span>/</span>
							<span class="text-gray-900 fw-bold  fs-5">10:00</span>
							<span>Am</span>
							<span class="text-primary">Sun</span>
				        </span>

				

						<i class="ki-duotone ki-black-right fs-1">
						</i>

						<span class="d-block text-muted fw-semibold fs-7">
							<span class="text-primary">28</span>
							<span class="text-gray-900 fw-bold fs-5 ">Aug</span>
							<span>2025</span>
							<span>/</span>
							<span class="text-gray-900 fw-bold  fs-5">10:00</span>
							<span>Am</span>
							<span class="text-primary">Fri</span>
						</span>
					</div>
		
					
					<div class="d-flex gap-5 mt-6">

			
						<span class="d-block text-muted fw-semibold fs-7">
						    <span class="text-primary">26</span>
							<span class="text-gray-900 fw-bold fs-5 ">Aug</span>
							<span>2025</span>
							<span>/</span>
							<span class="text-gray-900 fw-bold  fs-5">10:00</span>
							<span>Am</span>
							<span class="text-primary">Sun</span>
				        </span>

				

						<i class="ki-duotone ki-black-right fs-1">
						</i>

						<span class="d-block text-muted fw-semibold fs-7">
							<span class="text-primary">28</span>
							<span class="text-gray-900 fw-bold fs-5 ">Aug</span>
							<span>2025</span>
							<span>/</span>
							<span class="text-gray-900 fw-bold  fs-5">10:00</span>
							<span>Am</span>
							<span class="text-primary">Fri</span>
						</span>
					</div>



					<div class="d-flex gap-5 mt-6">


						<span class="d-block text-muted fw-semibold fs-7">
							<span class="text-primary">26</span>
							<span class="text-gray-900 fw-bold fs-5 ">Aug</span>
							<span>2025</span>
							<span>/</span>
							<span class="text-gray-900 fw-bold  fs-5">10:00</span>
							<span>Am</span>
							<span class="text-primary">Sun</span>
						</span>



						<i class="ki-duotone ki-black-right fs-1">
						</i>

						<span class="d-block text-muted fw-semibold fs-7">
							<span class="text-primary">28</span>
							<span class="text-gray-900 fw-bold fs-5 ">Aug</span>
							<span>2025</span>
							<span>/</span>
							<span class="text-gray-900 fw-bold  fs-5">10:00</span>
							<span>Am</span>
							<span class="text-primary">Fri</span>
						</span>
					</div>




				</div>

			</div>

	

		

		
			<form class="js-ajax-form" method="post"
				  data-url="/Trips/EditTripTiming"
				  data-callback="addRowToTable"
				  data-update-ui="true"
				  data-updete="true">

			

				<div class="d-flex gap-10 align-items-center flex-wrap mt-10 ">
					<div class="ms-5">
						<div class="d-flex">
							<span class="text-gray-900 fw-bold ms-4 fs-5">Main Trip</span>
							<span class="bullet   bullet-dot  bg-success ms-2 mt-3"></span>

						</div>
				

						<div class="d-flex align-items-center justify-content-center m-4">

							<label for="" class="form-label me-2" style="white-space: nowrap;">Time :</label>
							<input  class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Pick time" id="trip-time" type="text">
						</div>
						<div class="d-flex align-items-center justify-content-center m-4">

							<label for="" class="form-label me-2" style="white-space: nowrap;">Date :</label>
							<input class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Pick Date" id="trip-time" type="text">
						</div>

					

						<!--begin::Station Stop Duration-->
						<div class="d-flex align-items-center m-4 mt-7 ">


							<span class="text-gray-800 fs-5 fw-normal  mb-1 ">Station Stop Duration :</span>



							@*
							<input type="hidden" asp-for="StationStopMinutes" id="Hidden_Station_Stop_Duration" />
							<input type="hidden" asp-for="BreakMinutes" id="Hidden_Break_Minutes" /> *@


							<div class="m-4 mt-0 d-flex">
								<!--begin::Dialer-->
								<div class="input-group w-md-200px"
									 data-kt-dialer="true"
									 data-kt-dialer-max="20"
									 data-kt-dialer-min="5"
									 data-kt-dialer-suffix=" Minutes"
									 data-kt-dialer-step="5"

								<!--begin::Decrease control-->
								<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="decrease" >
									<i class="ki-duotone ki-minus fs-2"></i>
								</button>
								<!--end::Decrease control-->
								<!--begin::Input control-->

								<input id="Station_Stop_Duration" type="text" class="form-control"  placeholder="Minutes"  data-kt-dialer-control="input"  />
								<!--end::Input control-->
								<!--begin::Increase control-->
								<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="increase" >
									<i class="ki-duotone ki-plus fs-2"></i>
								</button>
							
								<!--end::Increase control-->
							</div>
						  		<!--end::Dialer-->

							</div>



						</div>

					
						<!--end::Station Stop Duration-->
						<!--begin::Include Long Break-->
						<div class=" p-5 d-flex flex-column ">


							<div class=" ">



								<div class="form-check form-check-custom form-check-solid me-10 form-check-sm ">
									<input class="form-check-input  long-break-checkbox "
										   data-url="/Routes/GetRouteStationsJsonAsync1?routeId="
										   type="checkbox" id="ch">
									<label class="form-check-labe text-gray-800  fs-5 fw-normal ms-2" for="ch">
										Include Long Break

									</label>
								</div>


							</div>





							<div class="ps-13 mt-7 " id="break_details">
							</div>



						</div>

						<!--end::Include Long Break-->


						<div class="d-flex flex-column   ms-10">

								


							<div class="d-flex align-items-center gap-3 ">

								<span class="text-gray-800 fs-5 fw-normal  mb-1">Break Dureation : </span>

								<div class="m-4 mt-0 d-flex">
									<!--begin::Dialer-->
									<div class="input-group w-md-200px" id="break_dialer"
										 data-kt-dialer="true"
										 data-kt-dialer-max="40"
										 data-kt-dialer-min="5"
										 data-kt-dialer-step="5"
										 data-kt-dialer-suffix=" Minutes">

										<!--begin::Decrease control-->
										<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="decrease">
											<i class="ki-duotone ki-minus fs-2"></i>
										</button>
										<!--end::Decrease control-->
										<!--begin::Input control-->
										<input id="Break_Minutes" type="text" class="form-control" readonly placeholder="Minutes" value="30" data-kt-dialer-control="input" />
										<!--end::Input control-->
										<!--begin::Increase control-->
										<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="increase">
											<i class="ki-duotone ki-plus fs-2"></i>
										</button>
										<!--end::Increase control-->
									</div>
									<!--end::Dialer-->

								</div>




							</div>

							<div class="d-flex align-items-center gap-2">

								<span class="text-gray-800 fs-5 fw-normal  mb-1">Break starts after :</span>

								<div class="w-200px">
									<select  id="Select_Station" class="form-select  form-select-sm  " data-control="select2" data-placeholder="Select an option">
										<option></option>
									</select>

								</div>

							</div>

						</div>





					</div>

					<div class="mx-2 align-self-start mt-18">

						<i class="ki-solid ki-arrow-right-left  text-dark-300 fs-2tx m-0 p-0  "></i>





					</div>


					<div>



						<div class="d-flex">
							<span class="text-gray-900 fw-bold ms-4 fs-5">Return Trip</span>
							<span class="bullet   bullet-dot  bg-danger ms-2 mt-3"></span>

						</div>
						<div class="d-flex align-items-center justify-content-center m-4">

							<label for="" class="form-label me-2" style="white-space: nowrap;">Time :</label>
							<input class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Pick time" id="reverse-trip-time" type="text">
						</div>

						<div class="d-flex align-items-center justify-content-center m-4">

							<label for="" class="form-label me-2" style="white-space: nowrap;">Date :</label>
							<input class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Pick Date" id="reverse-trip-time" type="text">
						</div>



						<!--begin::Station Stop Duration-->
						<div class="d-flex align-items-center m-4 mt-7 ">


							<span class="text-gray-800 fs-5 fw-normal  mb-1 ">Station Stop Duration :</span>



							@*
							<input type="hidden" asp-for="StationStopMinutes" id="Hidden_Station_Stop_Duration" />
							<input type="hidden" asp-for="BreakMinutes" id="Hidden_Break_Minutes" /> *@


							<div class="m-4 mt-0 d-flex">
								<!--begin::Dialer-->
								<div class="input-group w-md-200px"
									 data-kt-dialer="true"
									 data-kt-dialer-max="20"
									 data-kt-dialer-min="5"
									 data-kt-dialer-suffix=" Minutes"
									 data-kt-dialer-step="5"

								<!--begin::Decrease control-->
								<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="decrease" disabled>
									<i class="ki-duotone ki-minus fs-2"></i>
								</button>
								<!--end::Decrease control-->
								<!--begin::Input control-->

								<input id="Station_Stop_Duration" type="text" class="form-control"  placeholder="Minutes"  data-kt-dialer-control="input"  />
								<!--end::Input control-->
								<!--begin::Increase control-->
								<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="increase" disabled>
									<i class="ki-duotone ki-plus fs-2"></i>
								</button>

								<!--end::Increase control-->
							</div>
								<!--end::Dialer-->

							</div>



						</div>



						<!--end::Station Stop Duration-->
						<!--begin::Include Long Break-->
						<div class=" p-5 d-flex flex-column ">


							<div class=" ">



								<div class="form-check form-check-custom form-check-solid me-10 form-check-sm ">
									<input class="form-check-input  long-break-checkbox "
										   data-url="/Routes/GetRouteStationsJsonAsync1?routeId="
										   type="checkbox" id="ch1">
									<label class="form-check-labe text-gray-800  fs-5 fw-normal ms-2" for="ch1">
										Include Long Break

									</label>
								</div>


							</div>





							<div class="ps-13 mt-7 " id="break_details">
							</div>



						</div>

						<!--end::Include Long Break-->


						<div class="d-flex flex-column  ms-10 ">




							<div class="d-flex align-items-center gap-3 ">

								<span class="text-gray-800 fs-5 fw-normal  mb-1">Break Dureation : </span>

								<div class="m-4 mt-0 d-flex">
									<!--begin::Dialer-->
									<div class="input-group w-md-200px" id="break_dialer"
										 data-kt-dialer="true"
										 data-kt-dialer-max="40"
										 data-kt-dialer-min="5"
										 data-kt-dialer-step="5"
										 data-kt-dialer-suffix=" Minutes">

										<!--begin::Decrease control-->
										<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="decrease">
											<i class="ki-duotone ki-minus fs-2"></i>
										</button>
										<!--end::Decrease control-->
										<!--begin::Input control-->
										<input id="Break_Minutes" type="text" class="form-control" readonly placeholder="Minutes" value="30" data-kt-dialer-control="input" />
										<!--end::Input control-->
										<!--begin::Increase control-->
										<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="increase">
											<i class="ki-duotone ki-plus fs-2"></i>
										</button>
										<!--end::Increase control-->
									</div>
									<!--end::Dialer-->

								</div>




							</div>

							<div class="d-flex align-items-center gap-2">

								<span class="text-gray-800 fs-5 fw-normal  mb-1">Break starts after :</span>

								<div class="w-200px">
									<select id="Select_Station" class="form-select  form-select-sm  " data-control="select2" data-placeholder="Select an option">
										<option></option>
									</select>

								</div>

							</div>

						</div>







					</div>

				</div>




				<div class="d-flex justify-content-end py-6 px-9">
					<button type="submit" class="btn btn-primary btn-sm ">Submit</button>
				</div>


			</form>


		</div>




		<!--Test Child-->

    </div>
</div>




<template id="date-search-box-template">

	<div class="d-flex">
		<div class="d-flex  pe-0 pe-sm-10 mb-7">
			<div class="d-flex flex-column ">

				<div class="d-flex flex-column pe-0 pe-sm-10 mb-7">
					<span class="text-muted ">Select a month to see all trips within that month, or select a specific date to view trips operating on that day.</span>
				</div>


				<div class="d-flex flex-column gap-5 flex-md-row gap-md-10">

					<div>
						<label class="form-label required d-block">Search Options</label>
						<select asp-for="@Model.DateType" id="search-options-select2" class="form-select form-select-sm form-select-solid w-200px " data-control="select2" data-placeholder="Date Options" data-hide-search="true">

							<option value="@TripSearchDateType.SpecificMonth">Specific Month</option>
							<option value="@TripSearchDateType.SpecificDate">Specific Date</option>
							<option selected></option>
						</select>

						<span asp-validation-for="DateType" PersonGender" class="text-danger d-block mt-4"></span>

					</div>
					<div id="date-options-box" class="d-flex flex-column align-items-center gap-5 mt-8">






				</div>
			</div>


		</div>


	</div>

	</div>





</template>

<template id="date-options-box-template-date">
	<div>


		<input asp-for="@Model.TripDate" class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Date" type="text" readonly="readonly">
		<span asp-validation-for="@Model.TripDate" class="text-danger d-block"></span>
	</div> 
</template>

<template id="date-options-box-template-month" >



		<div>

		<select asp-for="@Model.Month" id="month-options-select2" class="form-select form-select-sm form-select-solid w-200px " data-control="select2" data-placeholder="Month">

				<option value="1">1 January</option>
				<option value="2">2 February</option>
				<option value="3">3 March</option>
				<option value="4">4 April</option>
				<option value="5">5 May</option>
				<option value="6">6 June</option>
				<option value="7">7 July</option>
				<option value="8">8 August</option>
				<option value="9">9 September</option>
				<option value="10">10 October</option>
				<option value="11">11 November</option>
				<option value="12">12 December</option>
				<option selected></option>
			</select>
		<span asp-validation-for="@Model.Month" class="text-danger d-block"></span>
		</div>


		<div>

			<div class="m-4 mt-0 d-flex">
				<!--begin::Dialer-->
				<div class="input-group w-md-200px" id="year_dialer"
					 data-kt-dialer="true"
					 data-kt-dialer-max="2050"
					 data-kt-dialer-min="1990"
					 data-kt-dialer-step="1"
					 data-kt-dialer-suffix=" Year">

					<!--begin::Decrease control-->
					<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="decrease">
						<i class="ki-duotone ki-minus fs-2"></i>
					</button>
					<!--end::Decrease control-->
					<!--begin::Input control-->
					<input  id="search-year" type="text" class="form-control" readonly placeholder="Minutes" value="2025" data-kt-dialer-control="input" />
					<!--end::Input control-->
					<!--begin::Increase control-->
					<button class="btn btn-icon btn-outline btn-active-color-primary" type="button" data-kt-dialer-control="increase">
						<i class="ki-duotone ki-plus fs-2"></i>
					</button>
					<!--end::Increase control-->
				</div>
				<!--end::Dialer-->

			</div>




		</div>
	


</template>


@section Plugins {

	<script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
	<script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

}

@section Scripts {


	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/scheduledtrips.js"></script>

}